<html>
    <head>
        <title>Add books</title>
    </head>
<body>
<h1>Berite's Book :Add Book</h1>
<form method="post" action='/bookadded'>
    <label>Book Name:</label>
    <input type="text" name="name" required>
    <br>
    <label>Book Price:</label>
    <input  type="text" name="price" required>
    <br>
    <input type="submit" name=submit" >

</form>
</body>
</html>