<html>
    <head>
        <title>List books</title>
    </head>
<body>
<h1>Berite's Book Shop</h1>
<ul>
   <% books.forEach(function(book) { %> 
<li><%= book.name %> <span> £<%= book.price %></span></li>

 <% }) %> 
   </ul>
</body>
</html>