<html>
    <head>
        <title>Search books</title>
    </head>
<body>
<h1>Student BOOKS Search</h1>

<form action="/search-result" method="post">
    <input  type="text" name="name" value="Default">
    <input type="submit" value="OK" >
  </form>
</body>
</html>